@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
$bgcolor: #FFFFFF;
$txevid: #72AEC8;
$txalb: #FFFFFF;
$txnegru: #272727;
$txsur: #3A3A3A;
$buthov: #72AEC8;
$butstan: #000000;
$fontsizenav: 16px;
$evidentiere :#72AEC8;
$h2:30px;

body{
    background-color: $bgcolor;
    color: $txnegru;
    font-family: "Lato", sans-serif;
    font-style: normal;
}

.nav .activ{
    color: $txevid !important;
}

header a{
    text-decoration: none;
    color: $txnegru !important;
    font-size: $fontsizenav;
    transition: color 0.2s;
}

header{
    height: 72px;
}

.nav a:hover{
    color: $txevid !important;
}


i{
    font-size: 18px;
    width: 18px;
    height: 18px;
}


.penuljos{
    margin-top: 120px;
    align-items: center;
    height: 226px;
    background-color: #272727;
    color: $txalb;
    margin-bottom: 120px;
    justify-content: space-around !important;
}

h2{
    font-size: $h2;
}

.pen_pr h2{
    font-size: $h2;
}

.pen_pr p{
    font-size: 16px;
}

input{
    height: 53px;
}


input[type=button]{
    margin-left: -10px !important;
    background-color: $buthov;
    border-radius: 0;
    width: 166px;
    border: none;
    text-transform: uppercase;
    color: $bgcolor;
}

input[type=text]{
    width: 328px;
    padding-left: 30px;
    border: none;
}

.ultjos{
    gap: 19px;
}

.ultjos img{
    width: 244px;
    height: 244px;
    transition: filter 0.3s ease;
}


.el2jt{
    text-transform: uppercase !important;
}


.ultjos img:hover{
    filter: brightness(0.8);
    background-color: #0000007b !important
}